{
  "openapi": "3.0.0",
  "info": {
    "title": "Salon Chatbot Backend API",
    "version": "1.0.0",
    "description": "API documentation for the Salon Appointment Chatbot backend"
  },

  "servers": [
    {
      "url": "https://aiagent-backend.zasya.online"
    }
  ],

  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Chatbot conversation endpoint",
        "description": "Handles all user messages, login, booking, rescheduling, cancellations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": { "type": "string", "example": "Haircut" },
                  "step": { "type": "string", "example": "bookService" },
                  "phone": { "type": "string", "example": "9876543210" },
                  "tempBooking": {
                    "type": "object",
                    "description": "Temporary appointment details"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns chatbot response object"
          }
        }
      }
    },

    "/webhook": {
      "get": {
        "summary": "Webhook verification",
        "description": "Used for verifying WhatsApp webhook (Meta-style challenge verification).",
        "responses": {
          "200": { "description": "Verification successful" }
        }
      },
      "post": {
        "summary": "WhatsApp inbound messages webhook",
        "description": "Receives WhatsApp messages from MSG91 or Meta and sends replies.",
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    }
  }
}
